.btn-primary {
  width: 244px;
  height: 38px;
  border-radius: 4px;
  background: var(--primary);
  color: white;
  padding: 10px 27px;
  border: none;
  cursor: pointer;
}
.btn {
  width: 110px;
  height: 38px;
  border-radius: 4px;
  background: #0768b5;
  color: white;
  padding: 10px 27px;
  border: none;
  cursor: pointer;
}
.btn-s {
  width: 117px;
  height: 32px;
  border-radius: 4px;
  background: var(--primary);
  color: white;
  padding: 10px 27px;
  border: none;
  cursor: pointer;
}
.btn-light {
  width: 110px;
  height: 38px;
  border-radius: 4px;
  background: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
.btn-sm {
  border: none;
  background: inherit;
  cursor: pointer;
}
.btn-blue {
  width: 48px;
  height: 22px;
  border-radius: 4px;
  background: var(--primary-mute);
  color: var(--primary);
  cursor: pointer;
  border: none;
  font-size: 12px;
}
.button {
  width: 118px;
  height: 38px;
  border-radius: 4px;
  border: 0.2px solid var(--textmute);
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
